{% extends 'base.html' %}
{% block content %}  
    <div class="container">
        <h1 class="mt-4">Contatos</h1>
        <form action="" method="get" class="row">
            <div class="col-6">
                <input type="text" name="pesquisa" class="form-control mt-3" placeholder="Digite o nome do contato">
            </div>

            <div class="col-3">
                <button type="submit" class="btn btn-primary mt-3">Pesquisar</button>
            </div>
        </form>

        <div class="row">
            <h2 class="mt-4">Lista de Contatos</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Assunto</th>
                        <th>Respondido</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in context['dados'] %}
                    <tr>
                        <td>{{linha.name}}</td>
                        <td>{{linha.email}}</td>
                        <td>{{linha.assunto}}</td>
                        <td>
                            {% if linha.ansewered == 1 %}
                                Sim
                            {% else %}
                                Não
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for('detalhe_contato', id=linha.id) }}"><img src="{{url_for('static', filename='img/link.png')}}" style="width: 20px;"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}